### Q.1> What is a database? Differentiate between SQL and NoSQL databases.

#### ANSWER

####  database is a collection of organized data that can be accessed, managed, and updated easily. Databases are used to store and manage information efficiently, making it easier for users to access and manipulate data. Databases can be of different types, but the most common types are SQL and NoSQL databases.

#### SQL databases, also known as Relational databases, are designed to store and manage data in tables that are linked by relationships. They use SQL (Structured Query Language) to manipulate data, which is a standard language for managing relational databases. SQL databases are widely used in industries and applications where data consistency and transactions are critical. They provide a robust, consistent, and scalable way to store and manage data.

#### NoSQL databases, also known as non-relational databases, are designed to store and manage unstructured or semi-structured data. NoSQL databases don't use a fixed schema, and they don't rely on relationships between tables. Instead, they store data in documents, key-value pairs, or graphs, making them more flexible than SQL databases. NoSQL databases are widely used in applications that require scalability and performance, such as social media platforms, mobile applications, and gaming.

#### Data Model: SQL databases use a tabular data model, while NoSQL databases use a variety of data models such as document, key-value, graph, or column-family.

#### Scalability: SQL databases are vertically scalable, meaning that you can increase the capacity of the server by adding more RAM, CPU, or SSD. NoSQL databases are horizontally scalable, meaning that you can increase the capacity of the database by adding more servers.

#### Consistency: SQL databases offer strong consistency, meaning that every read operation will return the latest data. NoSQL databases offer eventual consistency, meaning that it might take some time for all nodes to agree on the latest data.

#### Transactions: SQL databases support ACID (Atomicity, Consistency, Isolation, Durability) transactions, which ensure that all operations are executed as a single, atomic unit. NoSQL databases support BASE (Basically Available, Soft state, Eventually consistent) transactions, which prioritize availability and partition tolerance over consistency.

#### Query Language: SQL databases use SQL to query data, while NoSQL databases use their own query languages, such as MongoDB Query Language, Cassandra Query Language, or Apache Gremlin.

### Q.2> What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### ANSWER

#### DDL (Data Definition Language) is a set of SQL commands used to define and manage the structure of a database. DDL commands allow users to create, modify, and delete database objects such as tables, indexes, views, and procedures.

#### CREATE: The CREATE command is used to create new database objects such as tables, views, indexes, and procedures.

In [ ]:
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  salary DECIMAL(10,2)
);

#### DROP: The DROP command is used to delete existing database objects such as tables, views, indexes, and procedures.

In [ ]:
DROP TABLE employees;

#### ALTER: The ALTER command is used to modify the structure of existing database objects such as tables and columns.

In [1]:
ALTER TABLE employees ADD COLUMN age INT;

SyntaxError: invalid syntax (3236167303.py, line 1)

#### TRUNCATE: The TRUNCATE command is used to remove all data from a table while keeping its structure intact. This command is faster than deleting all rows using the DELETE command.

In [ ]:
TRUNCATE TABLE employees;

### Q.3> What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### ANSWER

#### DML (Data Manipulation Language) is a set of SQL commands used to manipulate the data stored in a database. DML commands are used to insert, update, and delete data from tables.

#### NSERT: The INSERT command is used to insert new data into a table.

In [ ]:
INSERT INTO employees (id, name, salary, age) VALUES (1, 'John Doe', 50000, 30);

#### UPDATE: The UPDATE command is used to modify existing data in a table.

In [ ]:
UPDATE employees SET salary = 55000 WHERE id = 1;

#### DELETE: The DELETE command is used to delete data from a table.

In [ ]:
DELETE FROM employees WHERE id = 1;

### Q.4> What is DQL? Explain SELECT with an example.

#### ANSWER

#### DQL (Data Query Language) is a set of SQL commands used to query and retrieve data from a database. DQL commands are used to retrieve data from tables and views.

#### SELECT: The SELECT command is used to retrieve data from one or more tables or views.

In [ ]:
SELECT * FROM employees;

In [ ]:
SELECT name, salary FROM employees;

In [ ]:
SELECT * FROM employees WHERE salary > 50000;

### Q.5> Explain Primary Key and Foreign Key.

#### ANSWER

#### Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It is used to enforce data integrity by ensuring that each row in the table is unique and can be easily referenced by other tables. A primary key constraint is used to define a primary key in a table. It can be a single column or a combination of columns, and it must have a unique value for each row.

In [ ]:
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50),
    phone_number VARCHAR(15)
);

#### Foreign Key: A foreign key is a column or set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables and maintain referential integrity. A foreign key constraint is used to define a foreign key in a table. It ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table, or are null.

In [ ]:
CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    name VARCHAR(50),
    instructor_id INT,
    FOREIGN KEY (instructor_id) REFERENCES instructors(instructor_id)
);

### Q.6> Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### ANSWER

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

#### In database programming, a cursor is a pointer that allows us to fetch rows from a result set of a SQL query one by one. The cursor() and execute() methods are two important methods that are used in Python database programming to interact with a database using a cursor.

#### cursor() method: The cursor() method creates a cursor object that allows us to execute SQL queries and fetch the results.

#### execute() method: The execute() method is used to execute a SQL query. It takes a string containing the SQL query as its argument.

### Q.7>Give the order of execution of SQL clauses in an SQL query.

#### ANSWER

#### FROM clause: The FROM clause specifies the table or tables from which the data is to be retrieved.

#### WHERE clause: The WHERE clause is used to filter the data based on a specified condition. It specifies the conditions that must be met for a row to be included in the result set.

#### GROUP BY clause: The GROUP BY clause is used to group the data based on one or more columns. It creates a set of groups, each containing the rows with the same values in the specified columns.

#### HAVING clause: The HAVING clause is used to filter the grouped data based on a specified condition. It specifies the conditions that must be met for a group to be included in the result set.

#### SELECT clause: The SELECT clause specifies the columns to be included in the result set. It can also include expressions that manipulate the data, such as arithmetic operations, string concatenation, or function calls.

#### ORDER BY clause: The ORDER BY clause is used to sort the data in the result set based on one or more columns. It specifies the columns to sort by and the order (ascending or descending).

#### LIMIT clause: The LIMIT clause is used to limit the number of rows returned by the query. It specifies the maximum number of rows to return, starting from the first row of the result set.